server {
    server_name personalizeddesign.9prints.com;
    root   /data/www/service/personalizedDesign/live;
    index  index.html index.htm index.php;

    client_max_body_size 275M;

    location ~* \.(js|css|asf|asx|wax|wmv|wmx|avi|bmp|class|divx|doc|docx|eot|exe|gif|gz|gzip|ico|jpg|jpeg|jpe|mdb|mid|midi|mov|qt|mp3|m4a|mp4|m4v|mpeg|mpg|mpe|mpp|odb|odc|odf|odg|odp|ods|odt|ogg|ogv|otf|pdf|png|pot|pps|ppt|pptx|ra|ram|svg|svgz|swf|tar|t?gz|tif|tiff|ttf|wav|webm|wma|woff|wri|xla|xls|xlsx|xlt|xlw|zip)$ {
        access_log off;
        log_not_found off;
        gzip on;
        gzip_static on;
        gzip_comp_level 5;
        set $filename $request_filename;

        if (-e $request_filename) {
            expires 1M;
            add_header Cache-Control private;
        }
		
        if (!-e $request_filename) {
			rewrite ^/storage/catalog/campaign/design/(\d+)/(\d+)/(\d+)/(\d+)/design\.png$	/index.php?__request_path=personalizedDesign/campaign_common/rerenderByRequest&shop_id=$1&order_id=$2&line_item_id=$3;
			rewrite ^/storage/personalizedDesign/render/\d+/\d+/\d+/[a-zA-Z0-9]+\.png$	/index.php?__request_path=personalizedDesign/campaign_common/moveBack;
        }

        if ($request_filename ~* ^.*?/([^/]*?)$) {
            set $filename $1;
        }

        if ($filename ~* ^.*?\.(eot|ttf|woff)$){
            add_header Access-Control-Allow-Origin *;
        }
    }

    rewrite ^/storage/personalizedDesign/render/(\d+)/(\d+)/(\d+)/(\w+)\.(\d+)\.png$       /storage/personalizedDesign/render/$1/$2/$3/$4.png;   
    rewrite ^/storage/catalog/campaign/design/(\d+)/(\d+)/(\d+)/(\d+)/design\.(\d+)\.png$        /storage/catalog/campaign/design/$1/$2/$3/$4/design.png;
    rewrite ^/storage/catalog/campaign/order/(\d+)/(\d+)/(\d+)/(\d+)/(\d+)/default\.(\d+)\.png$        /storage/catalog/campaign/order/$1/$2/$3/$4/$5/default.png last;
	
    location ~ /\. {
        deny all;
    } 

    location / {
        if (!-e $request_filename) {
            rewrite ^((?!(\/?var\/|\/?resource\/)).*)$ /index.php;
        }
    }

    error_page 403 404 /resource/static_page/404.html;
    error_page 500 502 503 504  /resource/static_page/50x.html;

    location ~ \.php$ {
        try_files $uri =404;
        #fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_connect_timeout 200;
        fastcgi_send_timeout 200;
        fastcgi_read_timeout 7200;
	fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/personalizeddesign.9prints.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/personalizeddesign.9prints.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = personalizeddesign.9prints.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name personalizeddesign.9prints.com;
    listen 80;
    return 404; # managed by Certbot


}
